base de dados/Treinamento IA/
target
src/main/resources/static/img/Streamlabs+Desktop+Setup+1.16.7-0fK3gor1Y4RAfQc.exe
src/main/resources/static/img/TwitchStudioSetup-network_[referrer-dashboard_tools].exe
