/* Custom CSS for styling */
body, html {
    height: 100%;
}

body {
    background-color: #f8f9fa;
}

.cabecalho {
    background-color:#000;
}

.container, img{
    margin-left: 0px;
}

.nav-tabs {
    justify-content: center;
    margin-bottom: 10px;
}

.nav-tabs .nav-item {
    margin-right: 10px;
}

.nav-tabs .nav-link {
    color: #586069;
    border-color: #ced4da #ced4da #fff;
}

.nav-tabs .nav-link.active {
    color: #24292e;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content {
    text-align: center;
}